body {
  background-color: #f8f9fa; /* Light background color for contrast */
}

.navbar {
  margin-bottom: 20px; /* Add spacing below the navbar */
}

.toy {
  display: flex; /* Use flexbox for responsive layout */
  justify-content: space-around; /* Space the cards evenly */
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  margin-bottom: 40px; /* Add space below each toy section */
}
.toy img{
  height: 280px;
}
.card {
  margin: 10px; /* Add margin around each card */
  transition: transform 0.2s; /* Smooth scale transition */
}

.card:hover {
  transform: scale(1.05); /* Slightly scale card on hover */
}

.card-img-top {
  height: 200px; /* Set a fixed height for images */
  object-fit: cover; /* Ensure images cover the entire area */
}

.button-buy {
  background-color: #d1166d; /* Bootstrap primary color */
  border: none; /* Remove border */
}

.button-buy:hover {
  background-color: #d1166d; /* Darker shade on hover */
}


